.navbar-nav {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: -195px;
}

.nav-item {
  list-style: none;
  margin: 0 10px;
  justify-content: center;
}

.nav-link {
  position: relative;
  color: black;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: teal;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.3s ease-in-out;
}

.nav-link:hover {
  color: teal;
}

.nav-link:hover::before {
  transform: scaleX(1);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/pexels-julia-kuzenkov-1974521.jpg");
  background-position: center;
  background-size: cover;
}

section{
  margin-bottom: -400px;
}

#pay {
  width: 160px;
  height: 40px;
  border-radius: 50px;
  background-color: teal;
  margin-bottom: -300px;
  margin-right: 100px;
  color: black;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#pay:hover {
  width: 160px;
  height: 40px;
  border-radius: 50px;
  background-color: rgb(2, 51, 51);
  color: white;
  border: none;
  cursor: pointer;
}

.popup{
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-popup{
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.popup img{
  width: 100px;
  height: auto;
  margin-top: -15%;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2{
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.popup button{
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: teal;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

footer{
  height: 600px;
  background-color: black;
  color: white;
}

footer p{
  text-align: center;
}

.footleft{
  margin: auto;
  width: 40%;
  float: left;
  margin-left: 30px;
}

.footleft p{
  text-align: left;
  margin-left: 20px;
}

.footleft h4{
  text-align: left;
  margin-left: 20px;
}

.footright{
  width: 40%;
  float: right;
}

.footright p{
  text-align: left;
  margin-left: 20px;
}

.footright h6{
  margin-top: 50px;
}